<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
		<title>ETH Txn Data</title>
	</head>

	<body>
		<div class="dataContainerMain">
			<div class="addressContainer">Address: {{eth_address}}</div>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Txn Hash</th>
						<th>Block Timestamp</th>
						<th>From Address</th>
						<th>To Address</th>
						<th>Value</th>
						<th>Txn Fee</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(txnData['hash']|length) %}
					<tr>
						<td>{{txnData['hash'][i]|truncate(23)}}</td>
						<td>{{txnData['block_timestamp'][i]}}</td>
						<td>{{txnData['from_address'][i]|truncate(24)}}</td>
						<td>{{txnData['to_address'][i]|truncate(24)}}</td>
						<td>{{txnData['value'][i]|round(5)}} Ether</td>
						<td>{{txnData['txn_fee'][i]|round(5)}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
