<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
		<title>ETH Txn Data</title>
	</head>

	<body style="overflow: hidden">
		<div class="indexContainerMain">
			<h1>Welcome!</h1>
			<p>Enter an ETH wallet address below to display its transaction history</p>
			<div class="addressInputContainer">
				<form action="/data" method="post">
					<input
						type="text"
						pattern="[0x]+[A-Za-z0-9]{40,}"
						title="Enter an ETH address"
						id="address"
						name="Address"
						placeholder="Enter Address"
					/>
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</body>
</html>
